table tr:nth-child(2) {
    background-color: aquamarine;
}

body {
    background-image: url("https://www.hogarmania.com/archivos/202104/aspectos-curiosos-pinguinos-portada-1280x720x80xX.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

tr {
    background-color: azure;
}

table {
    float: left;
    width: 50%;
    height: 50%;
}

div {
    margin-left: 25%;
    margin-top: 15%;
    width: 100%;
}